[Unit]
Description=Web Application Service
After=network.target

[Service]
User=csye6225
Group=csye6225
EnvironmentFile=/etc/environment
ExecStart=/usr/bin/java -jar /opt/myapp/webapp.jar
SuccessExitStatus=143
Restart=on-failure

[Install]
WantedBy=multi-user.target